body{
    background-color: #1a1a1a;
}

.input-field input[type=text] + label, .materialize-textarea:focus:not([readonly]) + label {
color: #1a1a1a !important;
}

.input-field input[type=text], .materialize-textarea:focus:not([readonly]) {
border-bottom: 1px solid #1a1a1a !important;
box-shadow: 0 1px 0 0 #1a1a1a !important;
}


.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
color: #e91e63 !important;
}

.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
border-bottom: 1px solid #e91e63 !important;
box-shadow: 0 1px 0 0 #e91e63 !important;
}

.far{
    color: #e91e63;
    margin-top: -3px;
}